<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="child">
            <h2><span>Child</span> {{child.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{child.name}}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{child.age}}</span>
                </dd>
                <dt><span>Person</span></dt>
                <dd>
                    <div *ngIf="child.person">
                        <a [routerLink]="['/person', child.person?.id, 'view']">{{child.person?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/child', child.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
