<div>
    <h2 id="page-heading">
        <span>Houses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-house" [routerLink]="['/house/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new House
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="houses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Address</span></th>
            <th><span>Zip Code</span></th>
            <th><span>Type</span></th>
            <th><span>Person</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let house of houses ;trackBy: trackId">
                <td><a [routerLink]="['/house', house.id, 'view' ]">{{house.id}}</a></td>
                <td>{{house.address}}</td>
                <td>{{house.zipCode}}</td>
                <td>{{house.type}}</td>
                <td>
                    <div *ngIf="house.person">
                        <a [routerLink]="['../person', house.person?.id, 'view' ]" >{{house.person?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/house', house.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/house', house.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'house', { outlets: { popup: house.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
