<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-parent-summary-heading">Create or edit a Parent Summary</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!parentSummary.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="parentSummary.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amountOfPersons">Amount Of Persons</label>
                    <input type="number" class="form-control" name="amountOfPersons" id="field_amountOfPersons"
                        [(ngModel)]="parentSummary.amountOfPersons" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amountOfChildren">Amount Of Children</label>
                    <input type="number" class="form-control" name="amountOfChildren" id="field_amountOfChildren"
                        [(ngModel)]="parentSummary.amountOfChildren" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
